:root {
  --wrap-size: 1064px;
}

body {
  background-color: rgb(48, 209, 155);
}

#wrap {
  max-width: 1264px;
  margin: 0 auto;
  background: #fff;

}

/* 메인-헤더 */
#main-header {
  display: flex;
  align-items: center;
  max-width: 1264px;
  height: 102px;
  padding: 0 32px;
  background-color: #fff;
}

/* 메인-네브 */

#main-nav {
  position: relative;
  margin-right: 36px;
  margin-left: auto;
}

#main-nav .main-nav-name {
  position: relative;
  display: inline-block;
  width: fit-content;
}

#main-nav li:has(.main-nav-name) {
  position: relative;
}

#main-nav li:hover .main-nav-name,
#main-nav li:hover .main-nav-name {
  font-weight: bold;
  /* transition: all 0.1s; */
}

#main-nav>ul>li:hover:after {
  content: "";
  position: absolute;
  top: -13px;
  right: -13px;
  width: 11px;
  height: 20px;
  background: url(../images/02_greenCard/bg-leaf.svg)center/contain no-repeat;
}

#main-nav>ul {
  display: flex;
  gap: 70px;
}

/* 서브-네브 */
#main-nav.on .subNavBg {
  position: absolute;
  top: 59px;
  left: -487px;
  width: 1263px;
  height: 208px;
  border-top: 1px solid #E5E5E5;
  background-color: #fff;
  /* z-index: -1; */
}

.sub-nav {
  position: absolute;
  top: 59px;
  height: 208px;
  padding-top: 16px;
  font-size: 14px;
  text-align: center;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

#main-nav.on .sub-nav,
#main-nav.on .sub-nav {
  opacity: 1;
  visibility: visible;
}



.sub-nav>li {
  height: 30px;
}

/* main */
main {
  /* display: none; */
}

footer {
  display: none;
}