//  @include flex-center;
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//  @include flex(space-between, flex-start);
@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

//  @include absolute-center;
@mixin absolute-center($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}