*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 리스트 */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 링크 */
a {
  text-decoration: none;
  color: inherit;
}

/* 입력 */
// input,
// textarea {
//   border: none;
//   outline: none;
//   font: inherit;
//   color: inherit;
// }

/* 이미지 */
img {
  max-width: 100%;
  height: auto;
  display: block;
}