@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  color: #222;
  line-height: 1.6em;
  background-color: #f8f8f8;
  height: 100vh;
  display: grid;
  justify-content: center;
}

/* Portfolio */
.portfolio {
  margin: 16px;
}
.portfolio h1 {
  position: relative;
  padding-bottom: 40px;
  text-align: center;
  font-weight: normal;
  font-size: 50px;
}
.portfolio h1::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: crimson;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio h1 span {
  color: crimson;
}
.portfolio .items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 15px;
}
.portfolio .items div {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
}
.portfolio .items div a img {
  display: block;
  width: 100%;
}
.portfolio .items div i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 30px;
  color: #fff;
}
.portfolio .items div span {
  position: absolute;
  bottom: -40px;
  width: 100%;
  text-align: center;
  color: #fff;
}
.portfolio .items div span,
.portfolio .items div i, .portfolio .items div::before {
  opacity: 0;
  transition: 0.35s;
  pointer-events: none;
}
.portfolio .items div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.portfolio .items div:hover::before {
  opacity: 1;
}
.portfolio .items div:hover i {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.portfolio .items div:hover span {
  opacity: 1;
  bottom: 0;
}
.portfolio .items .focus {
  grid-area: span 2/span 2;
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1366px) {
  .portfolio h1 {
    font-size: 40px;
  }
  .portfolio .items {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*Mobaile*/
@media (max-width: 768px) {
  .portfolio h1 {
    font-size: 25px;
  }
  .portfolio .items {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .items .focus {
    grid-area: span 1/span 1;
  }
}