/* 변수 선언 법 */
$변수배경: crimson;

$변수폰트: (
  디폴트 : 20px,
  포인트 : 55px
);

$컬러: (
  "orange" : orange,
  "green" : green,
  "blue" : blue
);

// @mixin @include
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin zoom($num) {
  zoom: $num;
}

@mixin bgColor ($color) {
  background-color: $color
}

// extend

%circle {
  border-radius: 50%
}

/* 사용법 */
.testBox {
  @include flexCenter;

  background-color: $변수배경;
  font-size: map-get($변수폰트, 디폴트);

  // @at-root: 강제로 빼기
  q {
    font-size: map-get($변수폰트, 포인트);
    @include zoom(0.5);

    // @extend %circle;
  }

  span {
    display: block;
    width: 100px;
    height: 100px;
    // @extend %circle;
  }

  @each $name, $color in $컬러 {
    span.#{$name} {
      background-color: $color;
    }
  }
}