#wrap {
 width: auto;
 height: 100vh;
 padding: 20px;
 margin-inline: auto;
 background-color: rgb(243, 242, 242);
 overflow: hidden;
}

.pointN {
 pointer-events: none !important;
}

p {
 margin: 0;
}

.rouletteContainer {
 position: relative;
 width: 324px;
 height: 324px;
 margin-inline: auto;
 margin-block-start: 30px;

 &::before {
  content: "";
  position: absolute;
  top: 73px;
  left: 160px;
  width: 164px;
  height: 113px;
  background: url(../images/03_roulette/arrow_select.svg)center/contain no-repeat;
  z-index: 1;
  pointer-events: none;
 }

 &::after {
  content: "";
  position: absolute;
  top: 134px;
  left: 147px;
  width: 50px;
  height: 47px;
  background: url(../images/03_roulette/arrow.svg)center/contain no-repeat;
  z-index: 1;
  pointer-events: none;
 }

 &>* {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);

  &>* {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: 50%;
  }

  .shadow {
   box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.3);
  }

  .roulette {
   font-size: 15px;
   text-align: center;
   font-weight: bold;

   &>* {
    position: absolute;
   }

   input {
    height: 40px;
    background-color: transparent;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    /* background-image: url(../images/03_roulette/pancle.svg);
    background-size: 20px auto;
    background-repeat: no-repeat; */
    z-index: 10;
   }

   input:not(:placeholder-shown) {
    /* background-image: none; */
   }

   input::placeholder {
    color: #00000024
   }
  }
 }

 .roulette_yellow {
  width: 100%;
  height: 100%;

  .roulette {
   background: url(../images/03_roulette/yellow.svg)center/cover no-repeat;

   p:nth-child(1) {
    top: 13px;
    left: 152px;
   }

   p:nth-child(2) {
    top: 115px;
    right: 9px;
    rotate: 76deg;
   }

   p:nth-child(3) {
    top: 198px;
    right: 19px;
    rotate: 110deg;
   }

   p:nth-child(4) {
    top: 259px;
    left: 56px;
    rotate: -140deg;
   }

   p:nth-child(5) {
    top: 102px;
    left: 13px;
    rotate: -70deg;
   }

   input {
    width: 79px;
   }

   input:nth-child(6) {
    top: 34px;
    left: 208px;
    rotate: 39deg;
   }

   input:nth-child(7) {
    top: 255px;
    right: 43px;
    rotate: 147deg;
   }

   input:nth-child(8) {
    top: 277px;
    right: 126px;
    rotate: 184deg;
   }

   input:nth-child(9) {
    top: 177px;
    left: -14px;
    rotate: -107deg;
   }

   input:nth-child(10) {
    top: 24px;
    left: 44px;
    rotate: -33deg;
   }
  }
 }

 .roulette_green {
  width: 225px;
  height: 225px;

  .roulette {
   background: url(../images/03_roulette/green.svg)center/contain no-repeat;

   p:nth-child(1) {
    top: 11px;
    left: 102px;
   }

   p:nth-child(2) {
    top: 77px;
    right: 14px;
    rotate: 75deg;
   }

   p:nth-child(3) {
    top: 132px;
    right: 15px;
    rotate: 111deg;
   }

   p:nth-child(4) {
    top: 192px;
    left: 94px;
    rotate: 180deg;
   }

   p:nth-child(5) {
    top: 174px;
    left: 41px;
    rotate: -140deg;
   }

   p:nth-child(6) {
    top: 67px;
    left: 18px;
    rotate: -71deg;
   }

   textarea {
    width: 45px;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: transparent;
    resize: none;
    overflow: hidden;









    &::placeholder {
     font-weight: Noto Sans KR;
     color: #00000024;
     line-height: 1.1;
    }
   }

   textarea:nth-child(7) {
    top: 23px;
    right: 32px;
    rotate: 39deg;
   }

   textarea:nth-child(8) {
    top: 167px;
    right: 38px;
    rotate: 146deg;
   }

   textarea:nth-child(9) {
    top: 116px;
    left: 1px;
    rotate: -107deg;
   }

   textarea:nth-child(10) {
    top: 18px;
    left: 39px;
    rotate: -35deg;
   }
  }
 }


 .roulette_blue {
  width: 138px;
  height: 138px;

  .roulette {
   line-height: 1.1;
   font-size: 12px;
   color: #fff;
   background: url(../images/03_roulette/blue.svg)center/contain no-repeat;


   p:nth-child(1) {
    top: 8px;
    left: 58px;
   }

   p:nth-child(2) {
    top: 42px;
    right: 3px;
    rotate: 72deg;
   }

   p:nth-child(3) {
    top: 96px;
    right: 24px;
    rotate: 144deg;
   }

   p:nth-child(4) {
    top: 99px;
    left: 24px;
    rotate: 218deg;
   }

   p:nth-child(5) {
    top: 45px;
    left: 13px;
    rotate: -70deg;
   }
  }
 }

}


.spin {
 animation: spin 1.5s linear infinite
}

.btnContainer {
 display: flex;
 gap: 20px;
 width: 100%;
 justify-content: center;

 button {
  width: fit-content;
  height: 50px;
  padding: 0 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(243, 182, 182);
  cursor: pointer;

  /* &:hover {
   background-color: rgb(243, 182, 182);
  } */

  &.btn_on::after {
   content: "ON";
  }

  &.btn_off::after {
   content: "OFF";
  }

  &.onOff::after {
   content: "ON";
  }

  &.onOff.done::after {
   content: "OFF";
  }

  &.auto::after {
   content: "3초 후 종료";
  }
 }
}


@keyframes spin {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}