<div class="nav__menu">
  <div class="nav__logo">
    <ul>
      <li> <a href="#">카테고리</a> </li>
      <li> <a href="#">구독</a> </li>
    </ul>
    <ul>
      <li> <a href="#">공작소</a> </li>
      <li> <a href="#">에디터</a> </li>
    </ul>
  </div>
</div>